# External / vendored repos
krakencoder/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

results/
# Ignore everything in results
results/**

# Re-allow traversal to the target folder (but don't track contents yet)
!results/local_results/
!results/local_results/Krakencoder_precomputed/

# Track ONLY the contents of that folder
!results/local_results/Krakencoder_precomputed/**
!results/local_results/test_structured_loss_model/**

wandb/
checkpoints/
lightning_logs/
ray_tmp/

run_ray_tune_ssl_balanced_1gpu.sbatch
wav2vec_incremental_multi_gpu_raytunessl.py

# context packages
context_packages/
*_context/
