# External / vendored repos
krakencoder/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

results/

wandb/
checkpoints/
lightning_logs/
ray_tmp/

run_ray_tune_ssl_balanced_1gpu.sbatch
wav2vec_incremental_multi_gpu_raytunessl.py